{% extends 'Sandbox/Layouts/layout1.html.twig' %}
{%  block title %}{{ parent() }}: vue3{% endblock %}
{# commentaire twig #}
{%  set s = 'un code ne generatn pas de html' %}

{%  block  titre_principal%}titre principal de la vue 3{% endblock %}
<!-- du code HTML -->
<p>code html interdit</p>

{%  block vue %}BLABLABLA VUE BLABLALBA{% endblock %}